*{
    box-sizing: border-box;
}

body{
    font-family: 'Courier New', Courier, monospace;
    margin: 15px 13px;
    font-size: 17px;
    padding: 8px;

}

.container{
    background-color: #f2f2f2;
    padding: 5px 20px 15px 20px;
    border: 1px solid lightgray;
    border-radius: 4px;
}

input[type="text"],
input[type="email"],
input[type="number"],
input[type="password"],
input[type="date"],
select,
textarea {
    width:100%;
    padding: 15px;
    border: 1px #ccc;
    border-radius: 5px;
    margin: 10px;;
}

fieldset{
    background-color: #fff;
    border: 1px solid #ccc;
}

.mainHeading{
    text-align: center ;
}

input[type="submit"]{
    background-color: purple;
    color: white;
    width: 75%;
    padding: 20px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    padding-right: 50px;
    font-size: large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;

}

input[type="submit"]:hover{
    background-color: rgb(12, 46, 196);
    
}